* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --box-shadow: 0px 0px 0px 6px rgb(255 255 255/60%);
    
    background:linear-gradient(to top, #b99fff, #ffffff);
}


a {
    text-decoration: none;
}

ul {
    List-style: none;
}

.btn {
    padding: .8rem 2.5em;
    text-transform: uppercase;
    background: #fff;
    color: var(--orange);
    border-radius: 10px;
    cursor: pointer;
}

.btn:hover {
    background: #b99fff;
}

.title {
    text-align: center;
    margin-bottom: 1rem;
}

.title h1 {
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 50px;
  

}

.title span {
    font-size: 1.2rem;
    text-transform: uppercase;
    line-height: 2;
    color: var(--orange);
}

.line,
.line4 {
    background:#b99fff;
    width: 100%;
    height: 50px;
}

.line {
    margin-bottom: 1rem;

}



.line2,
.line3 {
    background:#b99fff;
    width: 100%;
    height: 50px;
}

.line3 {
    margin-top: -3.5rem;
    margin-bottom: 7rem;
}

.message,
.empty {
    text-align: center;
    text-transform: capitalize;
    margin: 10 auto;
    margin-bottom: 2rem;
    width: 60%;
    padding: .5rem .5rem;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    background: rgb(255 255 255/80%);
    box-shadow: var(--box-shadow);
    color: black;
}


.message i {
    cursor: pointer;
}
.empty{
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
input,
button,
textarea,
select {
    outline: none;
    border: 1px solid #55555544;
    background: transparent;
    width: 100%;
    height: 40px;
    padding: 1rem 1, 5rem;
    border-radius: 10px;
    margin: 1rem 1rem;
    
}

button {
    cursor: pointer;
}

input[type=submit] {
    cursor: pointer;
}

/*........form containr......*/
.form-container {
    background: var(--orange);
    width: 100%;
    min-height: 100vh;
    padding-top: 6rem;
    position: relative;
    padding: 4rem 0;

}

.form-container::before,
.show-products::before,
.message-container::before,
.order-container::before{
    content: '';
    position: absolute;
    /*background: urL('img/login.png');*/
    top: 0;
    Left: 10;
    width: 250px;
    height: 650px;
    background-size: 225px;
    background-repeat: no-repeat;
    z-index: 100;
}

.form-container::after {
    content: '';
    position: absolute;
    background: urL('img/hij.png');
    bottom: 0;
    right: 0;
    width: 255px;
    height: 180px;
    background-size: 225px;
    background-repeat: no-repeat;
    z-index: 1;
}

.form-container h1 {
    text-transform: uppercase;
    margin: 2rem 0;
    font-size: 2.3rem;
    text-aLign: center;
}

.form-container form {
    width: 60%;
    margin: 2rem auto;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: var(--box-shadow);
    padding: 2rem;
    position: relative;
    border-radius: 4px;
}

.form-container form label {
    text-transform: uppercase;
    width: 100%;
}

.form-container form input {
    width: 85%;


}

.form-container form textarea {
    width: 85%;
    height: 200px;
}

.form-container form button {
    width: 85%;
    background: var(--orange);
    border: none;
}

/*........banner......*/
.banner {
    background:url(img/ban.png);
    width: 100%;
    height: 483px;
    position:absolute;
}
/*.....indexbanner......*/
.indexbanner {
    width: 100%;
    height: 400px;
    z-index: 1;
}

.banner .detail {
    position: absolute;
    padding: 7rem 0;
    Left: 35%;
    text-align: center;
    z-index: 200;
}

.banner .detail h1 {
    font-size: 4rem;
    color: #b99fff;
    text-transform: capitaLize;
    margin-top: 10px;
}

.banner .detail p {
    font-size: 18px;
    line-height: 2;
    margin-top: 40px;



}


.banner .detail a {
    text-transform: uppercase;
    color: #000;
}

.bannner .detail span {
    color: #fff;
}

/*........header......*/
header {
    position: fixed;
    top: 0;
    Left: 0;
    width: 100%;
    
    z-index: 101;
    transition: .3s;
    background:#b99fff;

    
}

header .scrolled {
    background: #fff;
    box-shadow: 0 5px 20px 0.1px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
}

header .scrolled a:hover {
    coLor: var(--orange);
}

.flex {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 0 auto;
    min-height: 50px;
    background:#b99fff;
    
}


.navbar a{
    margin: 0 1rem;
    font-size: 1.2rem;
    color: #000;
    text-transform: uppercase;
    
}

.navbar a:hover,
header .icons u:hover {
    color: #fff;
    text-decoration: none;
   
    
}

.header .icons {
    display: flex;
}

.header .icons u{
    margin-left: 1.2rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: #000;
}

#menu-btn {
    display: none;
}

.header  .user-box{
    position: absolute;
    top: 120%;
    right: 0rem;
    background: rgb(255 255 255/80%);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    padding: 2rem;
    text-align: center;
    width: 20rem;
    transform: scale(0);
    transform-origin: top right;
    line-height: 3;
   
}

.logout-btn {
    background: #000;
    color: #fff;
    text-transform: uppercase;
    width: 10rem;
    border-radius: 4px;
}

.header .flex .user-box.active {
    transform: scale(1.0);
    transition: .2s linear;
}
/*......admin dashboard.....*/
.dashboard{
    background: var(--orange);
    padding: 3rem;
    margin-top: -3.5rem;
    position: relative;
   
}
.dashboard::before{
    position: absoLute;
    content: '';
    bottom: -25%;
    left: -10px;
    background-image: urL('img/10.png');
    width: 225px;
    height: 220px;
    background-size: 225px;
    background-repeat: no-repeat;
    z-index: 100;
}
.box-container{
    margin-top: 450px;
    padding: 2% 8%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem,1fr));
    column-gap: 1rem;
}
.box-container .box{
    background:#ffffff;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    text-align: center;
    border-radius: 5px;
    margin: 1rem;
    max-width: 80%;
    margin-bottom: 0;
}
.dashboard h3{
     text-align: center;
     font-size: 2rem;
}
.dashboard p{
    font-size: 20px;
    text-transform: capitalize;
    margin: .5rem 0;
}

/*.....admin product page.....*/
.add-products{
    margin-top: 0.3 rem;
    height: auto;
    background:url(img/download\ \(5\).jpeg);
   
    position: relative;
 
}

.show-products{
    position:relative ;
    background: var(--orange);
    margin-top: -400px;   
}

.message-container,
.order-container{
    position:relative ;
    background: var(--orange);
    margin-top: -3.5rem;
   
}
.show-products::before,
.order-container::before{
    background-image: url('img/14.png');
    top: -100px;
}
.show-products .box-container{
    grid-template-columns: repeat(auto-fit, minmax(20rem,1fr));
}
.box-container .box{
    line-height: 2;
}
.box-container .box h4{
    text-transform:capitalize ;
}
.box-container .box img{
    width:100%;
    margin-bottom: 1rem;
    max-height: 60%;
}
.edit,
.delete
{
    color:white;
    background: #4d4467;
    padding: .5rem 1.5rem;
    text-transform: capitalize;
    line-height: 2;
    border-radius:5px;
}
.update-container{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    background: var(--orange);
    z-index: 1100;
    padding: 2rem;
    align-items: center;
    justify-content: center;
    display: none;
    
    
    }
    
    
    .update-container form{
    box-shadow: var(--box-shadow) ;
    width: 50%;
    background: #fff;
    padding: 1rem;
    margin: 2rem auto;
    text-align: center;
    
    }
    .update-container .edit,
    .update-container .btn{
        width:40%;
        cursor: pointer;
    }
.update-container form img{
    width: 60%;
}
.message-container .title,
.order-container .title{
    text-transform: uppercase;
    padding-top: 3rem;
}
.order-container{
    padding: 3% 7%;
    
}
.order-container .box-container{
    grid-template-columns: repeat(auto-fit, minmax(20rem,1fr));
    justify-content: center;
    align-items: flex-start;
}
.box-container .box{
    text-align: left;
    padding: 1rem 2rem;
    
}
    
.order-container .box p{
    margin-bottom: .5rem;
    text-transform: capitalize;
    color: rgb(201, 142, 210);
    
}
    
.order-container .box span{
    color: #555;
    
}
    
    .order-container form{
    text-align: center;
    
    }
    
    .order-container form select{
    width: 100%;
    margin: lrem auto;
    padding: .5rem 0;
    cursor: pointer;
    border-radius: 3px;
    }
    .order-container form input{
        width: 80%;
        border-radius: unset;
        border: none;
        background: var(--box-shadow);
        color:#000;
        text-transform: capitalize;

    }
    .order-container form input:hover{
        color: #fff;
        background-color: #000;
    }

    .order-container .box .delete{
       padding: .7rem 4rem ;
    }
    .order-container .box .delete:hover{
        color: #fff;
        background-color: #000;
    }


    .qty{
        display: flex;
        justify-content: space-between;
        
        }
        
        .qty input[type='number' ]{
        width: 35%;
        
        }
        
        .qty input[type='submit' ]{
        width: 55%;
        cursor: pointer;
        background: var(--orange) ;
        box-shadow: none;
        color: #fff;
        
        }
        
        .dit{
        text-align: center;
        text-transform: uppercase;
        background: #000;
        color: var(--orange);
        width: 50%;
        margin: auto;
        padding: .5rem 0;
        border-radius: 5px;
        
        }
        
        .dlt a{
        color: var(--orange) ;
        }
/*.........media screen.....*/

@media (max-width: 991px) {
    #menu-btn {
        display: block;
    }

    .header .flex .navbar {
        position: absolute;
        top: 149%;
        left: 0;
        dispLay: bLock;
        right: 0;

        background: rgb(255 255 255/80%);
        transition: .3s ease;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .flex .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header .flex .navbar  a{
        display: block;
        margin: 2rem;
    }

    .header .flex .navbar i:hover {
        color: var(--box-shadow);

    }

    .banner .detail {
        Left: 10%;
    }
}
.line12,
.line13
{
    margin-bottom: 8rem;

}